body {
    background: #ddd;
    background-image: url('../images/bedge_grunge.png');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rokkitt', serif;
    font-weight: 400;
}

p {
    color: #111;
}

a {
    text-decoration: none;
    color: rgb(76, 170, 68);
}

a:visited {
    color: rgb(96, 165, 91);
}

hr {
    border: 0.1em dotted rgba(100, 100, 100, 0.5);
}

code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    background-color: rgba(138, 138, 138, 0.07);
}

.main {
    background: #eee;
    background-image: url('../images/bgnoise_lg.png');

    -webkit-box-shadow: 0 0 0.5em rgba(145, 145, 145, 0.75);
    -moz-box-shadow: 0 0 0.5em rgba(145, 145, 145, 0.75);
    box-shadow: 0 0 0.5em rgba(145, 145, 145, 0.75);
}

.content, nav, header, footer, #social {
    box-sizing: border-box;
}

.content, header, footer, #social {
    margin: 1em;
}

nav {
    padding: 1em;
}

#social {
    margin-right: 2em;
}

header, header h1 {
    margin-bottom: 0;
}

blockquote {
    padding-top: 0;
}

#fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

#logo {
    margin-bottom: 0;
}

footer {
    overflow: auto;
}

footer .license {
    float: left;
}

footer .info {
    float: right;
}
