@font-face {
    font-family: 'Ostrich Sans';
    src: url('../fonts/ostrich-bold.eot');
    src: local('☺'), url('../fonts/ostrich-bold.woff') format('woff'),
        url('../fonts/ostrich-bold.ttf') format('truetype'),
        url('../fonts/ostrich-bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rosario';
    src: url('../fonts/rosario-regular-webfont.eot');
    src: url('../fonts/rosario-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rosario-regular-webfont.woff') format('woff'),
         url('../fonts/rosario-regular-webfont.ttf') format('truetype'),
         url('../fonts/rosario-regular-webfont.svg#rosarioregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #e0e0e0;

    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ostrich Sans';
}

p {
    color: #111;

    font-family: 'Rosario';
    line-height: 135%;
    font-size: 120%;
}

hr {
    border: 0.1em dotted rgba(100, 100, 100, 0.5);
}

code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    background-color: rgba(138, 138, 138, 0.07);
}

.main {
    background: #eee;
    background-image: url('../images/cream_dust.png');

    -webkit-box-shadow: 0 0 0.5em rgba(145, 145, 145, 0.75);
    -moz-box-shadow: 0 0 0.5em rgba(145, 145, 145, 0.75);
    box-shadow: 0 0 0.5em rgba(145, 145, 145, 0.75);
}

.content, nav, header, footer, #social {
    box-sizing: border-box;
}

.content, header, footer, #social {
    margin: 1em;
}

nav {
    padding: 1em;
}

#social {
    margin-right: 2em;
}

header, header h1 {
    margin-bottom: 0;
}

blockquote {
    padding-top: 0;
}

#fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 1000;
}

#logo {
    margin-bottom: 0;
}

footer {
    overflow: auto;
}

footer .license {
    float: left;
}

footer .info {
    float: right;
}
